body{
  background-image:url(image/img.jpg);
  
}
img{
  height: 150px;
  width: 200px;
  position:absolute;
  top:15%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
h1{
  font-family: impact;
  position:absolute;
  top:25%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  color:white;
}
p{
  font-family: arial;
  position:absolute;
  top:30%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  color:white;
}
.img{
  top:37%;
  color:white;
}